/* Spinner Component Styles */

.spinner {
  position: relative;
}

.spinnerCenter {
  position: relative;
  top: 50%;
  left: 50%;
}

.spinnerBar {
  position: absolute;
  height: 8%;
  width: 24%;
  left: -10%;
  top: -3.9%;
  border-radius: 5px;
  animation: fadeSpin 1.2s linear infinite;
}

@keyframes fadeSpin {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
